* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: whitesmoke;
}

header {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
}

a {
  text-decoration: none;
  color: black;
}

header .container {
  margin: 0px 100px 0px 100px;
}

.container {
  width: auto;
  padding: 0 15px;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.logo {
  width: 124px;
  margin-top: 20px;
  position: fixed;
  top: 0;
}

.header-right {
  float: right;
}

.header-right ul li {
  list-style: none;
  display: inline-block;
  padding: 25px;
  opacity: 1;
  transition: 0.3s;
  font-size: 15px;
}

.header-right ul li:hover {
  opacity: 0.5;
  font-size: 20px;
}

.mobile {
  display: none;
}

@media all and (max-width: 724px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  header .container {
    margin: 0;
  }

  .header-right ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 10px 10px 10px;
  }
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
  cursor: context-menu;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.about-wrapper {
  padding: 15px 100px 15px 100px;
  cursor: context-menu;
}

.about-wrapper .heading {
  padding-bottom: 15px;
  text-align: center;
}

.about-wrapper .about {
  text-align: justify;
  padding: 0px 25px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  background-color: whitesmoke;
  transition: 0.3s;
}

.about-wrapper .about:hover {
  background-color: white;
}

.about-wrapper .about h3 {
  padding: 25px 0px 25px 0px;
}

.about-wrapper .about p {
  padding: 10px;
  line-height: 2;
}

@media all and (max-width: 724px) {
  .about-wrapper {
    padding: 15px 10px 15px 10px;
  }
}

.member-wrapper {
  padding: 15px 100px 15px 100px;
  cursor: context-menu;
}

.member-wrapper .heading {
  padding-bottom: 15px;
  text-align: center;
}

.member-wrapper .member {
  text-align: justify;
  padding: 0px 25px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  background-color: whitesmoke;
  transition: 0.3s;
}

.member-wrapper .member:hover {
  background-color: white;
}

.member-wrapper .member h3 {
  padding: 25px 0px 25px 0px;
}

.member-wrapper .member p {
  padding: 10px;
  line-height: 2;
}

.member-wrapper .member i, .member-wrapper .member a {
  display: inline;
}

@media all and (max-width: 724px) {
  .member-wrapper {
    padding: 15px 10px 15px 10px;
  }
}

.member .user {
  font-size: 30px;
  padding: 0px 50px 0px 10px;
}

.member a {
  font-size: 30px;
  padding: 0px 50px 10px 10px;
}

footer {
  height: auto;
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: context-menu;
}

footer .copyright {
  color: white;
  padding: 40px 25px 25px 25px;
}
